/.DS_Store
/GRU4Rec.ipynb
/RecTools.ipynb
/UserKNN.ipynb
/data_en
/data_en.zip
/data_original
/data_original.zip
/draft.ipynb
/interactions.csv
/interactions.csv.zip
/sample_submission.csv
/test_interactions.csv
/train_interactions.csv